.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .example-header-image {
      width: 40px;
      height: 40px;
    background-size: cover;
    border-radius: 50%;
  }

