<mat-toolbar color="primary" style="padding-left: 4%">
    <mat-toolbar-row>
        <div style="width: 200px;">
            <mat-select  placeholder="Select Faculty">
              <mat-option *ngFor="let filter of faxFilters" [value]="filter.value" (onSelectionChange)="filterChanged($event, 'fax')">
                {{filter.name}}
              </mat-option>
            </mat-select>
        </div>

        <div style="margin-left: 2%;width: 200px;">
            <mat-select  placeholder="Select Course">
                <mat-option *ngFor="let filter of courseFilters" [value]="filter.value" (onSelectionChange)="filterChanged($event, 'course')">
                    {{filter.name}}
                </mat-option>
            </mat-select>
        </div>

        <div style="margin-left: 2%;width: 200px;">
            <mat-select  placeholder="Select year">
                <mat-option *ngFor="let filter of years" [value]="filter.value" (onSelectionChange)="filterChanged($event, 'year')">
                    {{filter.name}}
                </mat-option>
            </mat-select>
        </div>

      </mat-toolbar-row>

</mat-toolbar>
