
<div style="height: 60px;">
    <mat-toolbar >
    <mat-toolbar-row>
        <div style="padding-left: 4%; color: grey">
            <small>Date: 20/11/2018</small>
            <small style="margin-left: 4%;"> Time: 10:33</small>
            <small style="margin-left: 4%;"> Course: {{ selectedCourse.name }}</small>
            <small style="margin-left: 4%;"> Prof: Shiba Inu </small>
            <small style="margin-left: 4%;"> Student Presence: 33% </small>
        </div>
        <span class="example-spacer"></span>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Search" [(ngModel)]='name' (input)="search($event)">
        </mat-form-field>
  
      </mat-toolbar-row>

</mat-toolbar>

</div>